<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="info">Введите ФИО: </label>
    <input type="text" th:field="*{info}" id="info">
    <div style="color: red" th:if="${#fields.hasErrors('info')}" th:errors="*{info}">Info error</div>
    <br>
    <label for="age">Введите год рождения: </label>
    <input type="number" th:field="*{birthday}" id="age">
    <div style="color: red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday error</div>
    <input type="submit" value="Добавить">
</form>
</body>
</html>