<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <label for="name">Введите название книги: </label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        <br><br>
        <label for="author">Введите автора: </label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
        <br><br>
        <label for="date">Введите год: </label>
        <input type="text" th:field="*{date}" id="date">
        <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</div>
        <br><hr>
        <input type="submit" value="Сохранить">
        <br><br>
        <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
            <input type="submit" value="Удалить">
        </form>
    </form>
</body>
</html>