<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о книгк</title>
</head>
<body>
    <p>
        <span th:text="${book.getName()}">VALUE</span>,
        <span th:text="${book.getAuthor()}">VALUE</span>,
        <span th:text="${book.getDate()}">VALUE</span>
    </p>
<!--    <select th:if="${not people.isEmpty()}">-->
<!--        <option th:each="person: ${people}" th:value="${person.getInfo()}"></option>-->
<!--    </select>-->
    <p>Книга сейчас у: <span th:text="${person.getInfo()}">VALUE</span></p>
    <br>
    <div>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>
    </div>
    <br>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Удалить">
    </form>
</body>
</html>